[submodule "wp"]
	path = wp
	url = https://github.com/sickDevelopers/WP-it_IT-3.6.1
[submodule "content/mu-plugins/super-cpt"]
	path = content/mu-plugins/super-cpt
	url = https://github.com/sickDevelopers/super-cpt.git
[submodule "content/themes/h5bp"]
	path = content/themes/h5bp
	url = https://github.com/sickDevelopers/HTML5-Boilerplate-WordPress-Theme.git
